{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block body %}
    <h1>Сегодня: {{ date }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">День недели</th>
            <th scope="col">Утро</th>
            <th scope="col">День</th>
            <th scope="col">Вечер</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">01.08.2022</th>
            <td>Понедельник</td>
            <td>Галоперидол, 5 мг</td>
            <td>Галоперидол, 5 мг</td>
            <td>Галоперидол, 5 мг</td>
        </tr>
        <tr>
            <th scope="row">02.08.2022</th>
            <td>Вторник</td>
            <td>Галоперидол, 5 мг</td>
            <td>Галоперидол, 5 мг</td>
            <td>Галоперидол, 5 мг</td>
        </tr>
        <tr>
            <th scope="row">03.08.2022</th>
            <td>Среда</td>
            <td>Галоперидол, 5 мг</td>
            <td>Галоперидол, 5 мг</td>
            <td>Галоперидол, 5 мг</td>
        </tr>
        </tbody>
    </table>

    <form>
        <div class="input-group mb-3">
            <span class="input-group-text" id="Drugname">Название препарата: </span>
            <input type="text" class="form-control" placeholder="Галоперидол, 5 мг" aria-label="Drugname"
                   aria-describedby="Drugname">
        </div>
        <select class="form-select" aria-label="Select part of the day">
            <option selected>Когда пить?</option>
            <option value="1">Утро</option>
            <option value="2">День</option>
            <option value="3">Вечер</option>
        </select>
        <button type="submit" class="btn btn-primary mt-4">Добавить в график</button>
    </form>
{% endblock %}
